/* Fonts-used */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap');

/* Common-Styles */
body {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Banner-Start */

.banner {
    background-color: #161616;
    width: 86%;
    border-radius: 30px;
    height: 646px;
    margin: 50px 139px 130px 140px;
    display: flex;
    padding-left: auto;
    padding-top: auto;
}

.banner-info {
    color: #FFFFFF;
    width: auto;
    height: auto;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    padding: 111px 0 0 95px;
    margin: 0px;
}

.banner-info h1 {
    margin: 0;
    line-height: 80px;
    font-size: 70px;
    font-weight: 700;
}

.banner-info p {
    font-size: 16px;
    margin-bottom: 50px;
    font-weight: 400;
    padding-right: 30px;
}

.banner-button {
    background-color: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    padding: 16px 30px;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 111px;
    font-weight: 400;
}

.fa-angle-right {
    padding-left: 10px;
}

.banner-image {
    width: 541px;
    height: 613px;
    padding-top: 33px;
    padding-right: 79px;
}

/* Banner-End */

/*--------------------
        Main-Start 
    -------------------*/

main {
    display: flex;
    width: 1257px;
}

/* Navigation Bar */

.nav-bar {
    background-color: #161616;
    width: 300px;
    height: 245px;
    border-radius: 10px;
    color: black;
    padding: 25px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

.empty-button {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 17px 0px;
    text-decoration: none;
    margin-bottom: 25px;
    text-align: center;
    color: #161616;
    font-weight: 500;
}

.filled-button {
    background-color: #DD0000;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 0;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;

}

/* Blog Details */

.blogs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    margin-left: 10px;
    margin-bottom: 130px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

.blog {
    width: 311px;
    border: solid 1px silver;
    border-radius: 10px;
}

.blog-details {
    padding: 20px 0 0 20px;
}

.blog-highlight {
    border: solid 1px #161616;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 17px;
    text-align: center;
}

.blog-heading {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
}

.blog-image {
    width: 280px;
}

.blog-info {
    display: flex;
    color: #161616B2;
}

.blog-duration {
    margin-right: 30px;
}

.fa-clock,
.fa-comment-dots {
    padding-right: 10px;
    color: #161616B2;
}

/* Footer Start */

footer {
    background-color: #161616;
    color: #FFFFFF;
    width: 100%;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    padding: 130px 0;
    text-align: center;
}

.footer-text p {
    font-size: 40px;
    font-weight: 500;
    margin-top: 0;
}

hr {
    max-width: 80%;
    color: lightgrey;
}

.footer-nav-bar {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: 50px;
    padding-right: 50px;
}

.social-media {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-twitter {
    font-size: 25px;
    margin: 0 15px;
}

@media screen and (max-width: 767px) {

    .banner {
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
        align-items: center;
    }

    .banner-info {
        padding: 10% 20%;
        text-align: center;
    }

    .banner-info h1 {
        font-size: 40px;
        line-height: 55px;
    }

    .banner-image {
        /* padding-top: 210px; */
        height: auto;
        width: auto;
        padding-left: 90px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar {
        background-color: #FFFFFF;
        width: auto;
    }

    .empty-button {
        border: solid 1px lightgray;
        font-weight: 600;
        padding-right: 15px;
        padding-left: 15px;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
    }

    .footer-nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        width: 100%;
    }

    .banner {
        width: auto;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
        width: auto;
    }

    .banner-image {
        height: 80%;
        width: 80%;
        padding-left: 90px;
    }

    .empty-button {
        border: solid 1px lightgray;
        margin-right: 60px;
        font-weight: 600;
    }
}