/* Fonts-used */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap');

/* Common-Styles */
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Banner-Start */

.banner {
    background-color: #161616;
    border-radius: 30px;
    height: 646px;
    margin: 50px 139px 130px 140px;
    display: flex;
}

.banner-info {
    color: #FFFFFF;
    width: 531px;
    height: 100px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    padding-left: 106px;
    padding-top: 111px;
    /* padding: 111px 0 111px 106px; */
    margin: 0px;
}

.banner-info h1 {
    margin: 0;
    line-height: 80px;
    font-size: 70px;
    font-weight: 700;
}

.banner-info p {
    font-size: 16px;
    margin-bottom: 50px;
    font-weight: 400;
}

.banner-button {
    background-color: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    padding: 16px 30px;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 111px;
    font-weight: 400;
}

.fa-angle-right {
    padding-left: 10px;
}

.banner-image {
    width: 541px;
    height: 613px;
    padding-top: 33px;
    padding-right: 79px;
}

/* Banner-End */

/*--------------------
        Main-Start 
    -------------------*/

main {
    display: flex;
    width: 1257px;
}

/* Navigation Bar */

.nav-bar {
    background-color: #161616;
    width: 246px;
    height: 250px;
    border-radius: 10px;
    color: black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

.empty-button {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 17px 0;
    text-decoration: none;
    margin-bottom: 30px;
    text-align: center;
    color: #161616;
    font-weight: 500;
}

.filled-button {
    background-color: #DD0000;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 0;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;

}

/* Blog Details */

.blogs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 24px;
    column-gap: 24px;
    margin-left: 24px;
    margin-bottom: 130px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

.blog {
    width: 312;
    border: solid 1px silver;
    border-radius: 10px;
}

.blog-details {
    padding: 20px 0 0 20px;
}

.blog-highlight {
    border: solid 1px #161616;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    padding: 4px 17px;
    text-align: center;
}

.blog-heading {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
}

.blog-image {}

.blog-info {
    display: flex;
    color: #161616B2;
}

.blog-duration {
    margin-right: 30px;
}

.fa-clock,
.fa-comment-dots {
    padding-right: 10px;
    color: #161616B2;
}

/* Footer Start */

footer {
    background-color: #161616;
    color: #FFFFFF;
    width: 100%;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    padding: 130px 0;
    text-align: center;

}

.footer-text p {
    font-size: 40px;
    font-weight: 500;
    margin-top: 0;
}

hr {
    width: 1300px;
    color: rgb(255, 255, 255, 0.3);
}

.footer-nav-bar {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: 50px;
    padding-right: 50px;
}