/* Fonts-used */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;700&display=swap');

/* Common-Styles */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Banner-Start */

.banner {
    background-color: #161616;
    border-radius: 30px;
    height: 646px;
    margin: 50px 139px 130px 140px;
    display: flex;
}

.banner-info {
    color: #FFFFFF;
    width: 531px;
    height: 100px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    padding-left: 106px;
    padding-top: 111px;
    /* padding: 111px 0 111px 106px; */
    margin: 0px;
}

.banner-info h1 {
    margin: 0;
    line-height: 80px;
    font-size: 70px;
    font-weight: 700;
}

.banner-info p {
    font-size: 16px;
    margin-bottom: 50px;
    font-weight: 400;
}

.banner-button {
    background-color: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    padding: 16px 30px;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 111px;
    font-weight: 400;
}

.fa-angle-right {
    padding-left: 10px;
}

.banner-image {
    width: 541px;
    height: 613px;
    padding-top: 33px;
    padding-right: 79px;
}

/* Banner-End */

/* Main-Start */
main {
    display: flex;
}

.nav-bar {
    background-color: #161616;
    border-radius: 5px;
    color: black;
    padding: 30px;
}

.empty-button {
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 17px 39px;
    text-decoration: none;
}