/* Fonts-used */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&display=swap');

/* Common-Styles */
body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Banner button animation */
@keyframes b-button {
    from {
        font-size: 8px;
    }

    to {
        font-size: 20px;
    }
}

/* Banner Style */

.banner {
    background-color: #161616;
    width: 86%;
    border-radius: 30px;
    height: 646px;
    margin: 50px 139px 130px 140px;
    display: flex;
    padding-left: auto;
    padding-top: auto;
}

.banner-info {
    color: #FFFFFF;
    width: auto;
    height: auto;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    padding: 111px 0 0 95px;
    margin: 0px;
}

.banner-info h1 {
    margin: 0;
    line-height: 80px;
    font-size: 70px;
    font-weight: 700;
}

.banner-info p {
    font-size: 16px;
    margin-bottom: 50px;
    font-weight: 400;
    padding-right: 30px;
}

.banner-button {
    background-color: #DD0000;
    border-radius: 5px;
    font-size: 20px;
    padding: 16px 30px;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 111px;
    font-weight: 400;
    animation-name: b-button;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.fa-angle-right {
    padding-left: 10px;
}

.banner-image {
    width: 541px;
    height: 613px;
    padding-top: 33px;
    padding-right: 79px;
}

/* Banner Style End */

/*--------------------
        Main-Start 
    -------------------*/

main {
    display: flex;
    width: 86%;
}

/* Navigation Bar  */

.nav-bar {
    background-color: #161616;
    width: 300px;
    height: 245px;
    border-radius: 10px;
    color: black;
    padding: 25px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

.empty-button {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 17px 0px;
    text-decoration: none;
    margin-bottom: 25px;
    text-align: center;
    color: #161616;
    font-weight: 500;
}

.filled-button {
    background-color: #DD0000;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 0;
    margin-bottom: 25px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;

}

/* Blog Details */

.upcoming-matches {
    width: ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    margin-left: 15px;
    margin-bottom: 130px;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

.upcoming-match {
    width: 280px;
    border: solid 1px silver;
    border-radius: 10px;
    padding: 50px 15px;
}

.flags {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.match-heading h3 {
    margin-bottom: 10px;
}

.match-timing p {
    margin: 0;
}

.match-heading,
.match-timing {
    text-align: center;
    margin-bottom: 0;
}

/* Footer Start */

footer {
    background-color: #161616;
    color: #FFFFFF;
    width: 100%;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    padding: 130px 0;
    text-align: center;

}

.footer-text p {
    font-size: 40px;
    font-weight: 500;
    margin-top: 0;
}

hr {
    width: 90%;
    color: rgb(255, 255, 255, 0.3);
}

.footer-nav-bar {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    margin-top: 50px;
    padding-right: 50px;
}

.social-media {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin,
.fa-twitter {
    font-size: 25px;
    margin: 0 15px;
    color: #fffffff9;
}

/* For Mobile devices */

@media screen and (max-width: 767px) {

    .banner {
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
        align-items: center;
        padding-right: 10px;
    }

    .banner-info {
        padding: 10% 20%;
        text-align: center;
    }

    .banner-info h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .banner-info p {
        padding-right: 10px;
    }

    .banner-image {
        /* padding-top: 210px; */
        height: auto;
        width: auto;
        padding-left: 90px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-bar {
        background-color: #FFFFFF;
        width: auto;
    }

    .empty-button {
        border: solid 1px lightgray;
        font-weight: 600;
        padding-right: 15px;
        padding-left: 15px;
    }

    .filled-button {
        padding-left: 30px;
        padding-right: 30px;
    }

    .upcoming-matches {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: auto;
    }

    .footer-nav-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
    }

}

/* For Tablets */

@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* body {
        padding-left: 5%;
        padding-right: 5%;
    } */

    .banner {
        width: 90%;
        /* margin-left: 5%;
        margin-right: 5%; */
        margin-bottom: 80px;
    }

    .banner-info {
        width: 50%;
        padding: 8% 0 8% 8%;
    }

    .banner-info h1 {
        font-size: 50px;
        line-height: 60px;
    }

    .banner-info p {
        padding-right: 5px;
    }

    .banner-image {
        height: 90%;
        width: 90%;
        padding: 65px 35px 0 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .nav-bar {
        display: flex;
        flex-direction: row;
        background-color: #FFFFFF;
        width: auto;
        height: auto;
        font-size: 30px;
        /* padding: 25px; */
    }

    .empty-button {
        border: solid 1px lightgray;
        margin-right: 30px;
        font-weight: 500;
        padding-right: 50px;
        padding-left: 50px;

        font-size: 20px;
    }

    .filled-button {
        padding-right: 30px;
        padding-left: 30px;
        height: auto;
        font-size: 20px;
        margin-right: 30px;

    }

    .upcoming-matches {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 30px;
        justify-content: center;
        align-items: center;
        width: 65%;
        margin-bottom: 60px;
    }

    .upcoming-match {
        padding: 45px;
    }

    hr {
        width: 90%;
    }

    .footer-nav-bar {
        margin-left: 60px;
        margin-right: 40px;
        padding-right: 5px;
    }

}